body {
    background-color:lightpink ;
}

h1 {
    font-size: 50px;
    color:black;
    font-family: Copperplate,fantasy;
    text-align: center;
}

.personalife {
    text-align: center;
}

.SchoolLife {
    text-align: center;
}

.HSLife {
    text-align: center;
}

.CollegeLife {
    text-align: center;
}

body {
    text-align: center;
}

















